<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
      <p class="mb-2">© 2025 College Administration. All Rights Reserved.</p>
      <p class="mb-0">
        <a href="https://www.facebook.com" target="_blank" class="text-light me-3 text-decoration-none">
          <i class="bi bi-facebook"></i> Facebook
        </a>
        <a href="https://www.twitter.com" target="_blank" class="text-light me-3 text-decoration-none">
          <i class="bi bi-twitter"></i> Twitter
        </a>
        <a href="https://www.instagram.com" target="_blank" class="text-light text-decoration-none">
          <i class="bi bi-instagram"></i> Instagram
        </a>
      </p>
    </div>
  </footer>
  